header {
  background-color: var(--blue-300);
  padding: 0 2rem;
  height: 10rem;

  div {
    height: 80px;
    max-width: 1120px;
    margin: 0 auto;

    font-size: 1.4rem;
    font-weight: bold;
    color: var(--white);

    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style: none;
      display: flex;

      li {
        a {
          color: var(--white);
          text-decoration: none;
          transition: all 0.2s;

          &:hover,
          &.active {
            text-decoration: underline;
            color: var(--blue-600);
          }
        }

        & + li {
          margin-left: 2rem;
        }
      }
    }
  }
  @media (max-width: 720px) {
    padding: 1rem 1rem 0 0;

    div {
      flex-direction: column;
    }
  }
}
