<header>
  <div>
    <a routerLink="">
      <img src="../../../assets/logo.svg" alt="PetControl" />
    </a>
    <nav>
      <ul>
        <li>
          <a routerLinkActive="active" routerLink="new-pet">Cadastrar pet</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="pet-history">Mostrar pets</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="new-cost">Registrar gasto</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="cost-history">Histórico</a>
        </li>
        <li>
          <a routerLinkActive="active" routerLink="chart">Ver gráfico</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
