<div class="container">
  <table>
    <thead>
      <tr>
        <th>Gasto com</th>
        <th>Pet</th>
        <th>Valor</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let outlay of outlays">
        <td>{{ outlay.title }}</td>
        <td>{{ outlay.pet.name }}</td>
        <td>
          {{ outlay.price / 100 | currency: "BRL" }}
        </td>
        <td>
          <a routerLink="/update-cost/{{ outlay.id }}" class="updateButton">
            <fa-icon class="updateIcon icon" [icon]="faEdit"></fa-icon>
          </a>
          <a routerLink="/delete-cost/{{ outlay.id }}" class="deleteButton">
            <fa-icon class="deleteIcon icon" [icon]="faTrash"></fa-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
