.container {
  padding: 0 2rem;

  .content {
    position: relative;
    max-width: 1120px;
    margin: -2rem auto;
    height: 600px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.4);

    color: var(--white);

    display: flex;
    flex-direction: column;

    background: var(--blue-400);
    width: 100%;
    border-radius: 14px;
    overflow: hidden;

    font-weight: bold;
    font-size: 2rem;

    .background {
      background: url("../../../assets/analytics3.jpg") no-repeat center;
      background-size: cover;
      flex: 1;
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 1rem;
      align-items: center;

      width: 100%;

      padding: 2rem;

      .inputWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .inputContent {
          display: flex;
          justify-content: space-around;
        }

        .inputs {
          overflow: hidden;
          display: flex;
          background-color: var(--blue-300);
          border: 2px solid var(--blue-600);
          height: 5rem;
          border-radius: 14px;
          font-size: 1.5rem;
          text-transform: uppercase;

          .inputIcons {
            display: flex;
            align-items: center;
            justify-content: center;

            background: var(--blue-400);
            height: 100%;
            width: 3rem;
          }

          .input {
            width: 100%;
            height: 5rem;
            font-size: 1.5rem;
            padding: 1rem;

            background: transparent;
            border: none;
          }
        }
      }

      .buttonContent {
        width: 100%;
        display: flex;
        justify-content: space-around;

        [disabled] {
          cursor: wait;
        }

        button:first-child {
          background: var(--white);
          color: var(--orange-500);
        }

        button {
          width: 30%;
          height: 5rem;
          font-size: 1.5rem;
          border: 0;
          background: var(--orange-500);
          color: var(--white);
          border-radius: 14px;
          transition: filter 0.2s;

          &:hover {
            filter: brightness(0.9);
          }
        }
      }
    }
  }
  @media (max-width: 720px) {
    padding: 0 1rem;

    .content {
      padding: 0;
      font-size: 1.5rem;

      .background {
        display: none;
      }
      form {
        padding: 2rem 1rem;
        height: 100%;
        justify-content: space-between;
        .inputWrapper {
          flex-direction: column;
          .inputContent {
            flex-direction: column;
            gap: 1rem;
            .inputs {
              width: 100%;
              .input {
                font-size: 1.1rem;
              }
            }
          }
        }
        .buttonContent {
          gap: 1rem;
          button {
            width: 100%;
          }
        }
      }
    }
  }
}
