<div class="container">
  <div class="content">
    <div class="background"></div>
    <form (ngSubmit)="onSubmit()">
      <div class="inputWrapper">
        <div class="inputs">
          <fa-icon class="inputIcons" [icon]="faPencilAlt"></fa-icon>
          <input
            name="title"
            mask="S* A*"
            maxlength="24"
            [(ngModel)]="outlay.title"
            class="input"
            type="text"
            placeholder="Com o que você gastou?"
          />
        </div>
        <div class="inputs">
          <fa-icon class="inputIcons" [icon]="faPaw"></fa-icon>
          <select class="inputs select" name="pet" [(ngModel)]="outlay.pet">
            <option selected value="default">Com qual pet?</option>
            <option *ngFor="let pet of pets" [ngValue]="pet">
              {{ pet.name }}
            </option>
          </select>
        </div>
        <div class="inputs">
          <fa-icon class="inputIcons" [icon]="faDollarSign"></fa-icon>
          <input
            mask="separator.2"
            [thousandSeparator]="'.'"
            [decimalMarker]="','"
            [dropSpecialCharacters]="true"
            name="price"
            [(ngModel)]="outlay.price"
            class="input"
            type="text"
            placeholder="Quanto você gastou? (R$)"
          />
        </div>
      </div>
      <button type="submit">Registrar</button>
    </form>
  </div>
</div>
